PLANNER_API_PORT=8090
ACTUALIZER_API_PORT=8091
CORE_API_PORT=8081
FRONTEND_PORT=80

DB_MONGO_USERNAME=user
DB_MONGO_PASSWORD=password
DB_MONGO_NAME=plans
DB_MONGO_HOST=mongo
DB_MONGO_PORT=27017

DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=bookcow-db
DB_HOST=bookcow-db
DB_PORT=5432

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=password
MINIO_ROOT_PORT=9001
MINIO_USE_SSL=disable
MINIO_BUCKET_NAME=plans
MINIO_ENDPOINT=localhost:9000

KC_PORT_2=7443
KC_HOSTNAME: localhost
KC_HOSTNAME_PORT: 7080
KC_HOSTNAME_STRICT_BACKCHANNEL: "true"
KEYCLOAK_ADMIN: admin
KEYCLOAK_ADMIN_PASSWORD: admin
KC_HEALTH_ENABLED: "true"
KC_LOG_LEVEL: info

GIT_TOKEN:

ACTUALIZER_BRANCH: main
PLANNER_BRANCH:without-minio-service
CORE_BRANCH: master
FRONTEND_BRANCH: main